body {
    font-family:serif,sans-serif,monospace;
}

.verduritas {
    border-bottom:8px dashed greenyellow; 
}

.fruticas{
    border-bottom:9px dotted orange;
} 

td{
    border: 18px inset rgb(250, 160, 250); 
    text-align: center;
}

th{
    border:9px inset rgb(206, 114, 227)
} 

table{

    border-collapse: collapse rgb(251, 166, 200);
    width: 200px; 
    background-color: rgb(183, 211, 255);
}

.lista-fruticas{
    background-color:rgb(236, 196, 245);
}

.lista-verduritas{
    background-color: rgb(185, 204, 244);
}

.tabla-compras{
    background-color:rgba(145, 180, 255, 0.403)
}